@font-face {
    font-family: DINAlternate;
    src: url("fonts/DINAlternate-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: D-DIN;
    src: url("fonts/d-din.regular.ttf");
    font-style: normal;
    font-weight: normal;
}

.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}

.form {
    font-family: D-DIN, sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
}

.email_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.msg_input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    background-color: lightblue;
    margin-top: 5px;
    outline-color: rgb(39, 187, 221);
    width: 100%;
    text-align: center;
    font-family: D-DIN, sans-serif;
    color: rgb(12, 54, 102);
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}

#email:hover {
    background-color: white;
    transition: .5s;
}

#msg:hover {
    background-color: white;
    transition: .5s;
}

#msg {
    width: 100%;
    background-color: lightblue;
    margin-top: 5px;
    outline-color: rgb(39, 187, 221);
    text-align: left;
    height: 350px;
    font-family: D-DIN, sans-serif;
    color: rgb(12, 54, 102);
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}

#submit_butt {
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-family: D-DIN, sans-serif;
    font-weight: bold;
    border: none;
    background: rgb(39, 187, 221);
    width: 150px;
    height: 50px;
}

#submit_butt:hover {
    background: white;
    color: rgb(39, 187, 221);
    transition: .5s;
}


